# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
evaluation/rag_evaluation_report.json

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
db
!backend/app/db/
!backend/app/db/*.py
Desktop.ini

backend/sql_app.db
