fastapi
uvicorn
pydantic>=2.7.0
pydantic-settings>=2.2.1
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
chromadb
python-dotenv
websockets
email-validator
langchain
langchain-community
langchain-chroma
pypdf
sentence-transformers
